In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_seq_items', None)

In [2]:
books = pd.read_csv('data/Books.csv')
users = pd.read_csv('data/Users.csv')
ratings = pd.read_csv('data/Ratings.csv')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books.shape

(271360, 8)

In [5]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [6]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [7]:
books['Year-Of-Publication'].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

In [8]:
books[books['Year-Of-Publication'] == 'DK Publishing Inc']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,NaN
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,NaN

In [9]:
books[books['Year-Of-Publication'] == 'Gallimard']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,NaN

In [10]:
books.drop(books[books['Year-Of-Publication'] == 'DK Publishing Inc'].index, inplace = True)

In [11]:
books.drop(books[books['Year-Of-Publication'] == 'Gallimard'].index, inplace=True)

In [12]:
books.shape

(271357, 8)

In [13]:
books['Publisher'].unique()

array(['Oxford University Press', 'HarperFlamingo Canada',
       'HarperPerennial', ..., 'Tempo', 'Life Works Books', 'Connaught'],
      dtype=object)

In [14]:
books['Publisher'].nunique()

16804

In [15]:
books['Book-Author'].unique()

array(['Mark P. O. Morford', 'Richard Bruce Wright', "Carlo D'Este", ...,
       'David Biggs', 'Teri Sloat', 'Christopher  Biffle'], dtype=object)

In [16]:
books['Book-Author'].nunique()

102020

In [17]:
books['ISBN'].nunique()

271357

In [18]:
books.shape

(271357, 8)

In [19]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [20]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [21]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [22]:
users['Location'].nunique()

57339

In [23]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [24]:
ratings.shape

(1149780, 3)

In [25]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [26]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [27]:
ratings['Book-Rating'].unique()

array([ 0,  5,  3,  6,  8,  7, 10,  9,  4,  1,  2], dtype=int64)

In [28]:
ratings['ISBN'].nunique()

340556

### Popularity Based Recommendations

In [29]:
ratings_with_books = ratings.merge(books, on = 'ISBN')

In [30]:
ratings_with_books.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [31]:
ratings_with_books.shape

(1031132, 10)

In [32]:
num_ratings_df = ratings_with_books.groupby('Book-Title').count()['Book-Rating'].reset_index()

In [33]:
num_ratings_df.head()

                                          Book-Title  Book-Rating
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Ask Lily (Young Women of Faith: Lily Series, ...            1
4   Beyond IBM: Leadership Marketing and Finance ...            1

In [34]:
num_ratings_df.rename(columns = {'Book-Rating': 'num_ratings'}, inplace = True)

In [35]:
num_ratings_df.head()

                                          Book-Title  num_ratings
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Ask Lily (Young Women of Faith: Lily Series, ...            1
4   Beyond IBM: Leadership Marketing and Finance ...            1

In [36]:
avg_ratings_df = ratings_with_books.groupby('Book-Title')['Book-Rating'].mean().reset_index()
avg_ratings_df.rename(columns={'Book-Rating': 'avg_rating'}, inplace=True)

In [37]:
avg_ratings_df.shape

(241068, 2)

In [38]:
avg_ratings_df.head()

                                          Book-Title  avg_rating
0   A Light in the Storm: The Civil War Diary of ...        2.25
1                              Always Have Popsicles        0.00
2               Apple Magic (The Collector's series)        0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...        8.00
4   Beyond IBM: Leadership Marketing and Finance ...        0.00

In [39]:
popular_books_df = num_ratings_df.merge(avg_ratings_df, on='Book-Title')

In [40]:
popular_books_df = popular_books_df[popular_books_df['num_ratings'] >= 250].sort_values('avg_rating', ascending=False)

In [41]:
popular_books_df.shape

(186, 3)

In [42]:
popular_books_df.head()

,Book-Title,num_ratings,avg_rating
80432,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80420,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80439,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80424,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80412,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453

In [43]:
popular_books_detailed_df = popular_books_df.merge(books, on = 'Book-Title')

In [44]:
popular_books_detailed_df.shape

(740, 10)

In [45]:
popular_books_detailed_df.drop_duplicates(subset='Book-Title', keep='first', inplace=True)

In [46]:
popular_books_detailed_df.shape

(186, 10)

In [47]:
popular_books_detailed_df['Book-Title'].nunique()

186

In [48]:
popular_books_detailed_df.shape

(186, 10)

In [49]:
pickle.dump(popular_books_detailed_df, open('model/popular_books_df.pkl', 'wb'))

### Collaborative Filtering Based Recommendations

In [50]:
filter_users_criteria = ratings_with_books.groupby('User-ID').count()['Book-Rating'] > 200

filtered_users = filter_users_criteria[filter_users_criteria].index

In [51]:
filtered_users.shape

(811,)

In [52]:
filtered_users_df = ratings_with_books[ratings_with_books['User-ID'].isin(filtered_users)]

In [53]:
filtered_users_df.shape

(474005, 10)

In [54]:
filtered_users_df.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [55]:
popular_book_critera = filtered_users_df.groupby('Book-Title').count()['Book-Rating'] >= 50

popular_books = popular_book_critera[popular_book_critera].index

In [56]:
popular_books.shape

(706,)

In [57]:
filtered_users_df = filtered_users_df[filtered_users_df['Book-Title'].isin(popular_books)]

In [58]:
filtered_users_df.shape

(58586, 10)

In [59]:
filtered_users_df.drop_duplicates('Book-Title')

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
184,278418,038550120X,0,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...
368,277427,0425115801,0,Lightning,Dean R. Koontz,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425115801.0...,http://images.amazon.com/images/P/0425115801.0...,http://images.amazon.com/images/P/0425115801.0...
616,8681,0553561618,0,Dark Paradise,TAMI HOAG,1994,Bantam,http://images.amazon.com/images/P/0553561618.0...,http://images.amazon.com/images/P/0553561618.0...,http://images.amazon.com/images/P/0553561618.0...
750,278418,055356451X,0,Night Sins,TAMI HOAG,1995,Bantam,http://images.amazon.com/images/P/055356451X.0...,http://images.amazon.com/images/P/055356451X.0...,http://images.amazon.com/images/P/055356451X.0...
...,...,...,...,...,...,...,...,...,...,...
457242,11676,0345413865,0,Billy Straight : A Novel,JONATHAN KELLERMAN,1999,Ballantine Books,http://images.amazon.com/images/P/0345413865.0...,http://images.amazon.com/images/P/0345413865.0...,http://images.amazon.com/images/P/0345413865.0...
458903,11676,0373483694,0,Macgregor Grooms (Macgregors),Nora Roberts,1998,Silhouette,http://images.amazon.com/images/P/0373483694.0...,http://images.amazon.com/images/P/0373483694.0...,http://images.amazon.com/images/P/0373483694.0...
465107,11676,0399144714,9,Vector,Robin Cook,1999,Putnam Pub Group,http://images.amazon.com/images/P/0399144714.0...,http://images.amazon.com/images/P/0399144714.0...,http://images.amazon.com/images/P/0399144714.0...
479476,11676,0553278029,8,A Great Deliverance,Elizabeth George,1989,Bantam Books,http://images.amazon.com/images/P/0553278029.0...,http://images.amazon.com/images/P/0553278029.0...,http://images.amazon.com/images/P/0553278029.0...
489034,11676,0743418131,0,Deck the Halls (Holiday Classics),Mary Higgins Clark,2002,Pocket,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...

In [60]:
books_users_pivot = filtered_users_df.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')

In [61]:
books_users_pivot.fillna(0, inplace=True)

In [62]:
books_users_pivot.shape

(706, 810)

In [63]:
from sklearn.metrics.pairwise import cosine_similarity

In [64]:
similarity_scores_cs = cosine_similarity(books_users_pivot)

In [65]:
similarity_scores_cs

array([[1.        , 0.10255025, 0.01220856, ..., 0.12110367, 0.07347567,
        0.04316046],
       [0.10255025, 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01220856, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.12110367, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07347567, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04316046, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

In [66]:
similarity_scores_cs.shape

(706, 706)

In [67]:
# given a book name, give names of 5 similar books


def recommend(book_name):
    index = np.where(books_users_pivot.index == book_name)[0][0]
    similar_books = sorted(list(enumerate(similarity_scores_cs[index])), key = lambda x:x[1], reverse=True)[1:6]

    data = []

    for book in similar_books:
        item = []

        temp_df = filtered_users_df[filtered_users_df['Book-Title'] == books_users_pivot.index[book[0]]]
        item.extend(temp_df.drop_duplicates(subset='Book-Title')['Book-Title'].values)
        item.extend(temp_df.drop_duplicates(subset='Book-Title')['Book-Author'].values)
        item.extend(temp_df.drop_duplicates(subset='Book-Title')['Image-URL-M'].values)

        data.append(item)
         
    return data

In [68]:
recommend('Animal Farm')

[['1984',
  'George Orwell',
  'http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg'],
 ['Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
  'Louise Rennison',
  'http://images.amazon.com/images/P/0064472272.01.MZZZZZZZ.jpg'],
 ['Midnight',
  'Dean R. Koontz',
  'http://images.amazon.com/images/P/0425118703.01.MZZZZZZZ.jpg'],
 ['Second Nature',
  'Alice Hoffman',
  'http://images.amazon.com/images/P/0399139087.01.MZZZZZZZ.jpg'],
 ['Call of the Wild',
  'Jack London',
  'http://images.amazon.com/images/P/1559029838.01.MZZZZZZZ.jpg']]

In [69]:
pickle.dump(filtered_users_df, open('model/filtered_books.pkl', 'wb'))
pickle.dump(similarity_scores_cs, open('model/similarity_scores_cs.pkl', 'wb'))
pickle.dump(books_users_pivot, open('model/books_users_pivot.pkl', 'wb'))

### Using Algorithms from Scikit-Surprise

In [ ]:
from surprise import Dataset, Reader, KNNBasic, KNNWithZScore, KNNWithMeans, SVD, SVDpp, NMF, BaselineOnly
from surprise.model_selection import train_test_split
from surprise import accuracy


reader = Reader(rating_scale=(0, 10))
data = Dataset.load_from_df(filtered_users_df[['User-ID', 'Book-Title', 'Book-Rating']], reader)

# sim_options = {
#     "name": "msd",
#     "user-based": False
# }

model = SVD()
full_trainset = data.build_full_trainset()
model.verbose = True
model.fit(full_trainset)


book_name = 'A Walk to Remember'

def recommend_2(book_name):
    book_index = full_trainset.to_inner_iid(book_name)

    all_books = [full_trainset.to_raw_iid(i) for i in range(full_trainset.n_items)]
  

    item_latent_factors = model.qi
    similarity_scores = cosine_similarity(item_latent_factors[book_index].reshape(1, -1), item_latent_factors)
    similarity_scores = similarity_scores.flatten()
    similar_book_indices = similarity_scores.argsort()[::-1]

    data = []

    for i in range(1, 6):
        item = []
        similar_book_index = similar_book_indices[i]
        similar_book_name = full_trainset.to_raw_iid(similar_book_index)
        temp_df = filtered_users_df[filtered_users_df['Book-Title'] == similar_book_name]
        item.extend(temp_df.drop_duplicates(subset='Book-Title')['Book-Title'].values)
        item.extend(temp_df.drop_duplicates(subset='Book-Title')['Book-Author'].values)
        item.extend(temp_df.drop_duplicates(subset='Book-Title')['Image-URL-M'].values)

        data.append(item)

    return data

In [144]:
recommend_2(book_name)

[['The Notebook',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446520802.01.MZZZZZZZ.jpg'],
 ['The Rescue',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446610399.01.MZZZZZZZ.jpg'],
 ['Insomnia',
  'Stephen King',
  'http://images.amazon.com/images/P/0451184963.01.MZZZZZZZ.jpg'],
 ['Night Sins',
  'TAMI HOAG',
  'http://images.amazon.com/images/P/055356451X.01.MZZZZZZZ.jpg'],
 ['Nights in Rodanthe',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446531332.01.MZZZZZZZ.jpg']]

In [112]:
full_trainset.to_raw_iid(653)

'Betrayal in Death'

In [ ]:
temp_df = filtered_users_df[filtered_users_df['Book-Title'] == similar_book_name]
item.extend(temp_df.drop_duplicates(subset='Book-Title')['Book-Title'].values)
item.extend(temp_df.drop_duplicates(subset='Book-Title')['Book-Author'].values)
item.extend(temp_df.drop_duplicates(subset='Book-Title')['Image-URL-M'].values)

In [137]:
filtered_users_df.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...

In [146]:
pickle.dump(filtered_users_df ,open('model/filtered_users_df.pkl', 'wb'))

In [ ]:
# def recommend_knn(book_name):
#     all_books = filtered_users_df['Book-Title'].unique()
#     book_index = list(filtered_users_df['Book-Title'].unique()).index(book_name)

#     similarities = model.get_neighbors(book_index, k=20)

#     books_similarities = []

#     for i in range(len(similarities)):
#         similar_book_index = similarities[i]
#         similar_book = all_books[similar_book_index]
#         similarity_score = model.sim[book_index][similar_book_index]
#         books_similarities.append((similar_book, similarity_score))

#     return [book for book, _ in books_similarities[1:6]]

In [ ]:
# recommend_knn('Animal Farm')

IndexError: index 724 is out of bounds for axis 0 with size 706

In [ ]:
model = KNNBasic()
model.fit(full_trainset)


trainset = model.trainset

book_name = '1984'  

try:
    book_index = trainset.to_inner_iid(book_name)
except ValueError:
    print(f"Book '{book_name}' not found in the training set.")
    book_index = None

if book_index is not None:
  
    similarities = model.get_neighbors(book_index, k=5)  

    books_similarities = []

    for similar_book_index in similarities:
        try:
            similar_book = trainset.to_raw_iid(similar_book_index)
            similarity_score = model.sim[book_index][similar_book_index]  
            books_similarities.append((similar_book, similarity_score))
        except ValueError:
            continue


    books_similarities = sorted(books_similarities, key=lambda x: x[1], reverse=True)
    print("All neighbors sorted by ascending similarity score:")
    for book, score in books_similarities:
        print(f"Book: {book}, Similarity Score: {score}")

Computing the msd similarity matrix...
Done computing similarity matrix.
All neighbors sorted by ascending similarity score:
Book: Harry Potter and the Order of the Phoenix (Book 5), Similarity Score: 1.0
Book: Bridget Jones's Diary, Similarity Score: 1.0
Book: Fahrenheit 451, Similarity Score: 1.0
Book: Black Notice, Similarity Score: 1.0
Book: A Man in Full, Similarity Score: 1.0